.h-100 {height: 100%;}
.p-0 {padding: 0;}
.p-t-5 {padding-top: 5px;}
.p-b-5 {padding-bottom: 5px;}
.p-l-5 {padding-left: 5px;}
.p-r-5 {padding-right: 5px;}

.display-table {display: table;}
.display-table-cell {display: table-cell;}
.vertical-align-middle {vertical-align: middle;}

.relative {position: relative;}
.my-hidden{display: none;}

a.disabled:not(.btn) {
     cursor: not-allowed;
     color: rgba(183, 183, 183, 0.7);
}