/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-21, 18:02:50
    Author     : piqs
*/

#modal {
     z-index: 2000;
}

#modal-large {
     z-index: 1999;
}

.opacity-65 {
     opacity: 0.65;
}

.modal-content, .modal-dialog{
     border-radius: 10px 10px;
}

.modal-header{
     border-radius: 9px 9px 0 0;
}

.modal-header > h3 {
     width: 95%;
}