html,
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.container{
     width: 100%;
     margin: 0 auto;
     height: 100%;
     min-height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.row{
     margin-left: 0;
     margin-right: 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.breadcrumb{
     margin-bottom: 10px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#side-nav {
/*    position: fixed;*/
    /*margin-top: 55px;*/
}

.view-left {
    float: left;
    margin-right: 10px;
    width: 15%;
}

.my-col-sm-2 > .col-sm-2 {
    width: 20%;
}

.pjax-clock {
     background-color: #f5f5f5;
     border: solid 1px #ddd;
     margin-bottom: 5px;
     border-radius: 0 0 4px 4px;
}

#btn-edit{
    margin-bottom: 5px;
    margin-right: 5px;
}

.modal-header{
    background-color: #337ab7 !important;
    color: white;
}

a, a:hover, a:active, a:focus, a:visited {
     text-decoration: none;
}

a.add-property {
     color: #009900;
}

ul.nav {
    list-style-type: none !important;
}

.m-l-5{
     margin-left: 5px;
}

.m-t-5 {
     margin-top: 5px;
}

/*.form-control {
     width: auto;
     border-right: none;
     border-radius: 4px 0 0 4px;
}*/

.input-group-addon{
     min-width: 4%;
     line-height: 1.4;
}

.report-entity-name {

}

.alert {
     position: fixed;
     width: 30%;
     z-index: 1999;
     right: 0px;
     margin-right: 15px;
}

.select2-search__field, .select2-search{
     min-width: 200px !important;
}

.select2-dropdown {
     z-index: 2001 !important;
}

.report-label-div{
     background-color: #cccccc;
     border-bottom: solid 1px #999;
     padding: 5px;
}

.report-order-row {
     background-color: #cad1d2;
}